---
import PageTitle from "../../components/PageTitle.astro";
import Layout from "../../layouts/Layout.astro";
import { client } from "../../../tina/__generated__/client.ts";
import Book from "../../components/Book.astro";
import BooksGrid from "../../components/BooksGrid.astro";

function isDefined<T>(value: T | undefined | null): value is T {
  return value !== undefined && value !== null;
}

const books = (
  (await client.queries.booksConnection({ sort: "date" })).data.booksConnection
    .edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined)
  .reverse();
---

<Layout siteTitle="Naše knihy" isWide>
  <PageTitle class="max-w-[56rem] mx-auto">Naše knihy</PageTitle>
  <section>
    <BooksGrid>
      {
        books.map((book) => (
          <Book
            title={book.title}
            link={`/knihy/${book._sys.filename}`}
            image={book.cover ?? undefined}
            color={book.color ?? undefined}
            authors={(book.authors ?? [])
              .filter((a) => a?.role === "author")
              .map((author) => author?.author)
              .filter(isDefined)
              .map((a) => ({ ...a, link: `/authori/${a._sys.filename}` }))}
          />
        ))
      }
    </BooksGrid>
  </section>
</Layout>
