@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  font-size: 18px;
}

p {
  margin-bottom: 1rem;
}

@theme {
  --font-head: "quiche-flare", sans-serif;
  --font-display: "montserrat", sans-serif;
  --font-alt: "montserrat-alternates", sans-serif;

  --color-brand: "#fdba74"
}
