@import 'tailwindcss';
@plugin "tailwindcss-debug-screens";

@custom-variant dark (&:is(.dark *));

body {
  font-size: 18px;
}

@keyframes width-expand {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes rotate-on-load {
  from {
    transform: rotate(-20deg);
  }
  to {
    transform: rotate(-12deg);
  }
}

@keyframes small-rotate-on-load {
  from {
    transform: rotate(-4deg);
  }
  to {
    transform: rotate(-2deg);
  }
}

@keyframes opacity-on-load {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-on-load {
  from {
    transform: translateY(2rem);
  }
  to {
    transform: translateY(0);
  }
}

.animate-width-expand {
  animation: width-expand 0.6s ease-out forwards;
}

.animate-rotate-on-load {
  animation: rotate-on-load 0.8s ease-out forwards;
}

.animate-small-rotate-on-load {
  animation: small-rotate-on-load 0.8s ease-out forwards;
}

.animate-slide-on-load {
  animation: slide-on-load 0.8s ease-out forwards;
}

@utility text-outline-* {
  text-shadow:
    -2px -2px 0 --value(--color-*),
    2px -2px 0 --value(--color-*),
    -2px 2px 0 --value(--color-*),
    2px 2px 0 --value(--color-*);
}

@theme {
  --font-head: 'quiche-flare', sans-serif;
  --font-display: 'montserrat', sans-serif;
  --font-alt: 'montserrat-alternates', sans-serif;

  --color-brand: '#fdba74';
  --breakpoint-xs: 30rem;
}
