@import "tailwindcss";
@plugin "tailwindcss-debug-screens";

@custom-variant dark (&:is(.dark *));

body {
  font-size: 18px;
}

@theme {
  --font-head: "quiche-flare", sans-serif;
  --font-display: "montserrat", sans-serif;
  --font-alt: "montserrat-alternates", sans-serif;

  --color-brand: "#fdba74";
  --breakpoint-xs: 30rem;
}
