---
import { getCollection } from 'astro:content'
import Book from '../components/Book.astro'
import BooksGrid from '../components/BooksGrid.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import {
  uppercaseEveryFirstLetters,
  uppercaseFirstLetter,
} from '../utils/uppercaseFirstLetter'

const req = Astro.request
const url = new URL(req.url)
const segments = url.pathname.split('/').filter(Boolean)

const books = await getCollection("book")
const recentBooks = books.toReversed().slice(0, 9)

const category = segments[0]
const slug = segments[1]
---

<Layout siteDescription="Zde nic není...">
  <Section
    ><h1 class="font-alt mb-40 pt-20 text-4xl text-gray-600">
      {
        slug && category === 'knihy' ? (
          <>
            Knihu{' '}
            <span class="font-head my-4 block text-7xl text-orange-900">
              {uppercaseFirstLetter(slug.replace(/-/g, ' '))}
            </span>{' '}
            jsme zatím nevydali.
          </>
        ) : slug && category === 'autori' ? (
          <>
            Od autora{' '}
            <span class="font-head my-4 block text-7xl text-orange-900">
              {uppercaseEveryFirstLetters(slug.replace(/-/g, ' '))}
            </span>{' '}
            jsme zatím nic nevydali
          </>
        ) : (
          'Tuto knihu jsme ještě nevydali'
        )
      }
    </h1>
    <p class="font-alt text-xl">Ale vydali jsme řadu jiných knih:</p>
  </Section>
  <Section isWide>
    <BooksGrid>
      {recentBooks.map((book) => <Book slug={book.data.slug} />)}
    </BooksGrid>
  </Section>
</Layout>
