---
import Book from "../components/Book.astro";
import BooksGrid from "../components/BooksGrid.astro";
import { client } from "../../tina/__generated__/client.ts";
import Layout from "../layouts/Layout.astro";
import {
  uppercaseFirstLetter,
  uppercaseEveryFirstLetters,
} from "../utils/uppercaseFirstLetter";
import { routes } from "../routes";

const req = Astro.request;
const url = new URL(req.url);
const segments = url.pathname.split("/").filter(Boolean);

function isDefined<T>(value: T | undefined | null): value is T {
  return value !== undefined && value !== null;
}

const recentBooks = (
  (await client.queries.booksConnection({ sort: "date", last: 9 })).data
    .booksConnection.edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined);
---

<Layout>
  <h1 class="pt-20 mb-40 font-alt text-4xl text-gray-600">
    {
      segments.length === 2 && segments[0] === "knihy" ? (
        <>
          Knihu{" "}
          <span class="block my-4 font-head text-7xl text-orange-900">
            {uppercaseFirstLetter(segments[1].replace(/-/g, " "))}
          </span>{" "}
          jsme zatím nevydali.
        </>
      ) : segments.length === 2 && segments[0] === "autori" ? (
        <>
          Od autora{" "}
          <span class="block my-4 font-head text-7xl text-orange-900">
            {uppercaseEveryFirstLetters(segments[1].replace(/-/g, " "))}
          </span>{" "}
          jsme zatím nic nevydali
        </>
      ) : (
        "Tuto knihu jsme ještě nevydali"
      )
    }
  </h1>
  <p class="font-alt text-xl">Ale vydali jsme řadu jiných knih:</p>
  <section>
    <BooksGrid>
      {
        recentBooks.map((book) => (
          <Book
            title={book.title}
            link={routes.books.detail(book)}
            image={book.cover ?? undefined}
            color={book.color ?? undefined}
            authors={(book.authors ?? [])
              .filter((a) => a?.role === "author")
              .map((author) => author?.author)
              .filter(isDefined)
              .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
          />
        ))
      }
    </BooksGrid>
  </section>
</Layout>
