---
import { client } from '../../tina/__generated__/client.ts'
import Book from '../components/Book.astro'
import BooksGrid from '../components/BooksGrid.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import { routes } from '../routes'
import {
  uppercaseEveryFirstLetters,
  uppercaseFirstLetter,
} from '../utils/uppercaseFirstLetter'

const req = Astro.request
const url = new URL(req.url)
const segments = url.pathname.split('/').filter(Boolean)

function isDefined<T>(value: T | undefined | null): value is T {
  return value !== undefined && value !== null
}

const recentBooks = (
  (await client.queries.booksConnection({ sort: 'date', last: 9 })).data.booksConnection
    .edges ?? []
)
  .map((item) => item?.node)
  .filter(isDefined)

const category = segments[0]
const slug = segments[1]
---

<Layout siteDescription="Zde nic není...">
  <Section
    ><h1 class="font-alt mb-40 pt-20 text-4xl text-gray-600">
      {
        slug && category === 'knihy' ? (
          <>
            Knihu{' '}
            <span class="font-head my-4 block text-7xl text-orange-900">
              {uppercaseFirstLetter(slug.replace(/-/g, ' '))}
            </span>{' '}
            jsme zatím nevydali.
          </>
        ) : slug && category === 'autori' ? (
          <>
            Od autora{' '}
            <span class="font-head my-4 block text-7xl text-orange-900">
              {uppercaseEveryFirstLetters(slug.replace(/-/g, ' '))}
            </span>{' '}
            jsme zatím nic nevydali
          </>
        ) : (
          'Tuto knihu jsme ještě nevydali'
        )
      }
    </h1>
    <p class="font-alt text-xl">Ale vydali jsme řadu jiných knih:</p>
  </Section>
  <Section isWide>
    <BooksGrid>
      {
        recentBooks.map((book) => (
          <Book
            title={book.title}
            link={routes.books.detail(book)}
            image={book.cover ?? undefined}
            color={book.color ?? undefined}
            authors={(book.authors ?? [])
              .filter((a) => a?.role === 'author')
              .map((author) => author?.author)
              .filter(isDefined)
              .map((a) => ({ ...a, link: routes.authors.detail(a) }))}
          />
        ))
      }
    </BooksGrid>
  </Section>
</Layout>
