---
import { client } from '../../tina/__generated__/client.ts'
import Markdown from '../components/Markdown.astro'
import PageTitle from '../components/PageTitle.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import PageTitle from "../components/PageTitle.astro";
import { client } from "../../tina/__generated__/client.ts";
import { RichText } from "../components/RichText";

export function getStaticPaths() {
  return ['kontakty', 'o-nakladatelstvi'].map((edge) => ({
    params: { slug: edge },
  }))
}

const { slug } = Astro.params

const relativePath = `${slug}.md`
const res = await client.queries.pages({ relativePath })
const page = res.data.pages
---

<Layout siteTitle={page.title}>
  <Section>
    <PageTitle>{page.title}</PageTitle>
    <div class="mx-auto max-w-2xl leading-8">
      {page.content && <Markdown text={page.content} />}
    </div>
  </Section>
</Layout>
