---
import { client } from "../../tina/__generated__/client.ts";
import Layout from "../layouts/Layout.astro";
import { TinaMarkdown } from "tinacms/dist/rich-text";

export async function getStaticPaths() {
  return ["kontakty", "o-nakladatelstvi"].map((edge) => ({
    params: { slug: edge },
  }));
}

const { slug } = Astro.params;

const relativePath = `${slug}.md`;
const res = await client.queries.pages({ relativePath });
const page = res.data.pages;
---

<Layout>
  <h1>{page.title}</h1>
  <TinaMarkdown content={page.content} />
</Layout>
