---
import { getCollection, getEntry } from 'astro:content'

import Markdown from '../components/Markdown.astro'
import PageTitle from '../components/PageTitle.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'

export async function getStaticPaths() {
  const posts = await getCollection('page')

  return posts.map((p) => ({
    params: { slug: p.id },
  }))
}

const { slug } = Astro.params

if (!slug) {
  return
}

const entry = await getEntry('page', slug)

if (!entry) {
  return
}

const { data: page } = entry
---

<Layout siteTitle={page.title} siteDescription={page.content?.substring(0, 900) ?? ''}>
  <Section>
    <PageTitle>{page.title}</PageTitle>
    <div class="mx-auto max-w-2xl leading-8">
      {page.content && <Markdown text={page.content} />}
    </div>
  </Section>
</Layout>
