---
import { getCollection, getEntry } from 'astro:content'

import AuthorSmall from '../components/AuthorSmall.astro'
import BooksGrid from '../components/BooksGrid.astro'
import Markdown from '../components/Markdown.astro'
import PageTitle from '../components/PageTitle.astro'
import Section from '../components/Section.astro'
import Layout from '../layouts/Layout.astro'

const entry = await getEntry('page', 'o-nakladatelstvi')

if (!entry) {
  return
}

const { data: page } = entry

const books = await getCollection('book')
const authors = await getCollection('author')

const authorRolesMap = books
  .flatMap((book) => book.data.authors)
  .filter((entry) => !entry.isMain)
  .reduce<Record<string, string[]>>((acc, entry) => {
    const slug = entry.author
    const newRoles = entry.role
    const existing = acc[slug] ?? []

    const mergedRoles = Array.from(new Set([...existing, ...newRoles]))

    return { ...acc, [slug]: mergedRoles }
  }, {})

const collaborators = authors
  .filter((a) => authorRolesMap[a.data.slug])
  .map((a) => ({
    ...a,
    roles: authorRolesMap[a.data.slug],
  }))
---

<Layout siteTitle={page.title} siteDescription={page.content?.substring(0, 900) ?? ''}>
  <Section>
    <PageTitle>{page.title}</PageTitle>
    <div class="mx-auto max-w-2xl leading-8">
      {page.content && <Markdown text={page.content} />}
    </div>
  </Section>
  <Section title="Spolupracují s námi">
    <BooksGrid>
      {
        collaborators.map(({ data, roles }) => (
          <AuthorSmall slug={data.slug} roles={roles ?? []} imperfect />
        ))
      }
    </BooksGrid>
  </Section>
</Layout>
