---
import { client } from "../../../tina/__generated__/client.ts";
import Layout from "../../layouts/Layout.astro";
import { TinaMarkdown } from "tinacms/dist/rich-text";
import { getCollection } from "astro:content";


export async function getStaticPaths() {
	const posts = await getCollection("author");

	return posts.map((post) => ({
		params: { slug: post.id },
		props: {
			post,
			getTinaProps: async () =>
				client.queries.authors({
					relativePath: post.data.tinaInfo?.relativePath ?? "",
				}),
		},
	}));
}

const { slug } = Astro.params;

const relativePath = `${slug}.md`;
const res = await client.queries.authors({ relativePath });
const author = res.data.authors;
---

<Layout>
  <h1>{author.firstname} {author.surname}</h1>
  <TinaMarkdown content={author.description} />
</Layout>
