---
import { getCollection } from 'astro:content'

import Book from '../../components/Book.astro'
import BooksGrid from '../../components/BooksGrid.astro'
import PageTitle from '../../components/PageTitle.astro'
import Section from '../../components/Section.astro'
import Layout from '../../layouts/Layout.astro'

const books = await getCollection('book')
const authors = await getCollection('author')

const mainAuthorIds = new Set(
  books
    .flatMap((book) =>
      book.data.authors.filter((a) => a.isMain).map((a) => a.author.slug),
    )
    .filter(Boolean),
)

const mainAuthors = authors.filter((author) => mainAuthorIds.has(author.id))
---

<Layout siteTitle="Autoři">
  <Section isWide>
    <PageTitle>Autoři</PageTitle>
    <BooksGrid>
      {
        mainAuthors.map(({ data }) => (
          <Book
            title={`${data.firstname} ${data.surname}`}
            link={`/autori/${data.slug}`}
            image={data.image ?? undefined}
          />
        ))
      }
    </BooksGrid>
  </Section>
</Layout>
