---
interface Props {
  href: string
}

const {href} = Astro.props
---
      <a
        class="tracking-wider uppercase text-md font-alt relative group"
        href="/knihy"
      >
      <slot />
        <span
          class="block size-2 border-t border-r rotate-45 absolute -right-7 bottom-1/2 translate-y-1/2"
        ></span>
        <span
          class="block h-[1px] w-4 transition-all group-hover:w-[calc(100%+2rem)] absolute duration-500 -right-[29px] bottom-1/2 translate-y-1/2 bg-black"
        ></span>
      </a>

