---
import { Icon } from 'astro-icon/components'
---

<div class="w-full">
  <footer class="font-alt mx-auto max-w-[56rem]">
    <div
      class="border-brand-first-100 text-brand-first-500 bg-brand-second-50/30 flex items-stretch justify-between gap-8 rounded-sm border p-4 max-sm:flex-col"
    >
      <div class="flex-2">
        <h3 class="mb-2">Obsah</h3>
        <menu class="text-sm">
          <li class="mb-1"><a class="hover:underline" href="/knihy">Naše knihy</a></li>
          <li class="mb-1"><a class="hover:underline" href="/autori">Autoři</a></li>
          <li class="mb-1">
            <a class="hover:underline" href="/o-nakladatelstvi">O nakladatelstvi</a>
          </li>
        </menu>
      </div>

      <div class="flex-1">
        <h3 class="mb-2">Kontakty</h3>
        <p class="mb-2 flex items-center gap-2 text-sm">
          <Icon name="ph:envelope-light" class="size-6" />
          <a class="hover:underline" href="mailto:skalak@knihyps.cz" target="_blank"
            >skalak@knihyps.cz</a
          >
        </p>
        <p class="mb-2 flex items-center gap-2 text-sm">
          <Icon name="ph:facebook-logo-light" class="size-6" />

          <a
            class="hover:underline"
            href="https://www.facebook.com/knihyprestupnistanice"
            target="_blank">knihyprestupnistanice</a
          >
        </p>
        <p class="mt-6 text-xs">
          Naše knihy jsou dostupné v distribuci <a
            class="underline hover:no-underline"
            href="https://www.kosmas.cz/nakladatelstvi/877130/prestupni-stanice/"
            >Kosmas</a
          >.
        </p>
      </div>
    </div>

    <p class="text-brand-first-500 my-2 text-right text-xs">
      Web písmy <a
        class="hover:bg-brand-second-200 underline transition-colors hover:text-white"
        href="https://fonts.adobe.com/fonts/quiche-flare"
        target="_blank"
        rel="noopener noreferer">Quiche Flare</a
      > a <a
        class="hover:bg-brand-second-200 underline transition-colors hover:text-white"
        href="https://fonts.adobe.com/fonts/montserrat"
        target="_blank"
        rel="noopener noreferer">Montserrat</a
      > vysázel <a
        class="hover:bg-brand-second-200 underline transition-colors hover:text-white"
        href="https://www.dominikblaha.cz"
        target="_blank"
        rel="noopener noreferer">Dominik Bláha</a
      >
    </p>
  </footer>
</div>
