---

---

<div class="w-full">
  <footer class="flex justify-between px-4 py-8 min-sm:items-end max-w-[90rem] mx-auto max-sm:flex-col gap-8">
    <div class="text-xs">
      <p>
        E-mail: <a href="mailto:skalak@knihyps.cz" target="_blank"
          >skalak@knihyps.cz</a
        >
      </p><p>
        FB: <a
          href="https://www.facebook.com/knihyprestupnistanice"
          target="_blank">facebook.com/knihyprestupnistanice</a
        >
      </p>
    </div>

    <p class="text-xs opacity-30">
      Web písmy <a
        class="hover:bg-gray-400 hover:text-white transition-colors"
        href="https://fonts.adobe.com/fonts/quiche-flare"
        target="_blank"
        rel="noopener noreferer">Quiche Flare</a
      > a <a
        class="hover:bg-gray-400 hover:text-white transition-colors"
        href="https://fonts.adobe.com/fonts/montserrat"
        target="_blank"
        rel="noopener noreferer">Montserrat</a
      > vysázel <a
        class="hover:bg-gray-400 hover:text-white transition-colors"
        href="https://www.dominikblaha.cz"
        target="_blank"
        rel="noopener noreferer">Dominik Bláha</a
      >
    </p>
  </footer>
</div>
