---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'

import TrainImage from '../assets/vlak.png'
---

<div class="w-full">
  <footer class="mx-auto max-w-[56rem] px-4 font-alt">
    <div class="my-16 flex items-stretch justify-between gap-8 max-sm:flex-col">
      <div class="flex-1">
        <h3 class="mb-2">Obsah</h3>
        <menu class="text-sm">
          <li class="mb-1"><a class="hover:underline" href="/knihy">Naše knihy</a></li>
          <li class="mb-1"><a class="hover:underline" href="/autori">Autoři</a></li>
          <li class="mb-1"><a class="hover:underline" href="/o-nakladatelstvi">O nakladatelstvi</a></li>
        </menu>
      </div>
      <div class="flex-1 max-sm:hidden flex items-center opacity-60">
        <Image src={TrainImage} alt="Logo" width={240} height={100} />
      </div>

      <div class="flex-1">
        <h3 class="mb-2">Kontakty</h3>
        <p class="flex items-center gap-2 text-sm mb-2">
          <Icon name="ph:envelope-light" class="size-6" />
          <a class="hover:underline" href="mailto:skalak@knihyps.cz" target="_blank">skalak@knihyps.cz</a>
        </p>
        <p class="flex items-center gap-2 text-sm mb-2">
          <Icon name="ph:facebook-logo-light" class="size-6" />

          <a class="hover:underline" href="https://www.facebook.com/knihyprestupnistanice" target="_blank"
            >knihyprestupnistanice</a
          >
        </p>
        <p class="text-xs mt-6">
          Naše knihy jsou dostupné v distribuci <a class="hover:underline"
            href="https://www.kosmas.cz/nakladatelstvi/877130/prestupni-stanice/"
            >Kosmas</a
          >.
        </p>
      </div>
    </div>

    <p class="my-4 text-right text-xs opacity-30">
      Web písmy <a
        class="transition-colors hover:bg-gray-400 hover:text-white"
        href="https://fonts.adobe.com/fonts/quiche-flare"
        target="_blank"
        rel="noopener noreferer">Quiche Flare</a
      > a <a
        class="transition-colors hover:bg-gray-400 hover:text-white"
        href="https://fonts.adobe.com/fonts/montserrat"
        target="_blank"
        rel="noopener noreferer">Montserrat</a
      > vysázel <a
        class="transition-colors hover:bg-gray-400 hover:text-white"
        href="https://www.dominikblaha.cz"
        target="_blank"
        rel="noopener noreferer">Dominik Bláha</a
      >
    </p>
  </footer>
</div>
