---

---

<footer class="text-xs text-gray-400 font-alt text-right px-4 py-1 italic absolute right-0 bottom-0">
  Web písmy <a
    class="hover:bg-gray-400 hover:text-white transition-colors"
    href="https://fonts.adobe.com/fonts/quiche-flare"
    target="_blank"
    rel="noopener noreferer">Quiche Flare</a
  > a <a
    class="hover:bg-gray-400 hover:text-white transition-colors"
    href="https://fonts.adobe.com/fonts/montserrat"
    target="_blank"
    rel="noopener noreferer">Montserrat</a
  > vysázel <a
    class="hover:bg-gray-400 hover:text-white transition-colors"
    href="https://www.dominikblaha.cz"
    target="_blank"
    rel="noopener noreferer">Dominik Bláha</a>
</footer>
