---
import HeaderLink from "./HeaderLink.astro";
---

<menu class="items-center flex justify-between px-6 py-4 text-gray-600 hover:text-black transition-colors">
  <h2 class="m-0 text-6xl font-head"><a class="no-underline" href="/">Přestupní stanice</a></h2>
  <div class="internal-links flex gap-4">
    <HeaderLink href="/">Úvod</HeaderLink>
    <HeaderLink href="/o-nakladatelstvi">O nakladatelství</HeaderLink>
    <HeaderLink href="/kontakty">Kontakty</HeaderLink>
  </div>
</menu>
