---
import type { HTMLAttributes } from 'astro/types'

import { cn } from '../utils/cn'

type Props = HTMLAttributes<'a'>

const { href, ...props } = Astro.props
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '')
const isActive = href === `/${pathname}`
---

<a
  href={href}
  class={cn(
    'group transition-colors font-alt hover:text-brand-first-500 relative text-md text-brand-first-500 no-underline',
    isActive && 'text-brand-first-500',
  )}
  {...props}
>
  <slot />
  <span
    class="bg-brand-first-500 absolute bottom-0 left-0 h-[1px] w-0 transition-all duration-600 group-hover:w-full"
  ></span>
</a>
