---
import HeaderLink from "./HeaderLink.astro";
import { routes } from "../routes";

const { color } = Astro.props;

const navigations = [
  {
    link: routes.books.list(),
    label: "Naše knihy",
  },
  {
    link: "/o-nakladatelstvi",
    label: "O nakladatelství",
  },
];
---

<div class="min-w-full">
  <menu
    class="max-w-[90rem] mx-auto items-center flex justify-between px-6 py-4 transition-colors max-lg:flex-col gap-4"
  >
    <h2 class="m-0 text-3xl font-head text-gray-600 hover:text-black">
      <a class="no-underline" href="/">Přestupní stanice</a>
    </h2>
    <div
      class="internal-links flex gap-4 items-center flex-wrap max-xs:justify-center"
    >
      {
        navigations.map(({ link, label }, index) => (
          <>
            {index !== 0 && (
              <div class="inline-block w-8 h-[1px] mr-2 bg-gray-200 max-sm:hidden" />
            )}
      <HeaderLink isSmall href={link} color={color}>
              {label}
            </HeaderLink>
          </>
        ))
      }
    </div>
  </menu>
</div>
