---
import { cn } from "../utils/cn";
interface Props {
  color?: string;
  class?: string;
}

const { color, class: className } = Astro.props;
---

<h1
  class={cn(
    "mt-6 mb-6 font-head min-md:text-8xl max-md:text-[10vw]",
    className,
  )}
  style={{ color: color ?? "black" }}
>
  <slot />
</h1>
