<h1
  style="-webkit-text-stroke-width: 1px; -webkit-text-stroke-color: var(--color-brand-first-500);"
  class="font-head text-brand-second-100 selection:bg-brand-first-200 relative mx-auto mt-6 mb-6 inline-block max-w-[56rem] font-bold text-shadow-lg max-md:text-[10vw] min-md:text-8xl"
>
  <slot />
  <span
    class="animate-width-expand from-brand-second-100 absolute bottom-0 left-0 h-[4px] w-[60%] bg-gradient-to-r to-transparent transition-all duration-600"
  ></span>
</h1>
