<h1
  class="font-head text-outline-white text-brand-first-500 relative mx-auto mt-6 mb-6 inline-block max-w-[56rem] max-md:text-[10vw] min-md:text-8xl"
>
  <div class="relative z-10">
    <slot />
  </div>
    <span
      class="animate-width-expand from-brand-second-500 absolute bottom-0 left-0 h-[4px] w-0 bg-gradient-to-r to-transparent"
    ></span>
</h1>
