---
import { cn } from '../utils/cn'

interface Props {
  title?: string
  isWide?: boolean
  className?: string
}

const { title, isWide, className } = Astro.props
---

<section
  class={cn('mx-auto mb-12', isWide ? 'max-w-[80rem]' : 'max-w-[56rem]', className)}
>
  {title && <h2 class={cn('font-head mb-8 text-2xl text-gray-600')}>{title}</h2>}
  <slot />
</section>
