---
import Analytics from '@vercel/analytics/astro'

import { client } from '../../tina/__generated__/client.ts'
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Header from '../components/Header.astro'
import { cn } from '../utils/cn'
import { getColorScale } from '../utils/geColorScale'

interface Props {
  siteTitle?: string
  firstColor?: string
  secondColor?: string
}

const lastBook = (await client.queries.booksConnection({ sort: 'date', last: 1 })).data
  .booksConnection.edges?.[0]?.node

const { siteTitle, firstColor, secondColor } = Astro.props

const colorBrandFirst = firstColor ?? lastBook?.color ?? '#434991'
const colorBrandSecond = secondColor ?? lastBook?.bgColor ?? '#e7d14c'

const colorBrandFirstScale = getColorScale(colorBrandFirst, 'color-first')
const colorBrandSecondScale = getColorScale(colorBrandSecond, 'color-second')

const isDev = import.meta.env.DEV
---

<html lang="en">
  <head>
    <BaseHead
      title={`${siteTitle ? siteTitle + ' | ' : ''}Přestupní stanice`}
      description="Rodinné knižní nakladatelství"
    />
    <style define:vars={{ ...colorBrandFirstScale, ...colorBrandSecondScale }}>
      @import 'tailwindcss';

      @theme {
        --color-brand-first-50: var(--color-first-50);
        --color-brand-first-100: var(--color-first-100);
        --color-brand-first-200: var(--color-first-200);
        --color-brand-first-300: var(--color-first-300);
        --color-brand-first-400: var(--color-first-400);
        --color-brand-first-500: var(--color-first-500);
        --color-brand-first-600: var(--color-first-600);
        --color-brand-first-700: var(--color-first-700);
        --color-brand-first-800: var(--color-first-800);
        --color-brand-first-900: var(--color-first-900);
        --color-brand-first-950: var(--color-first-950);
        --color-brand-second-50: var(--color-second-50);
        --color-brand-second-100: var(--color-second-100);
        --color-brand-second-200: var(--color-second-200);
        --color-brand-second-300: var(--color-second-300);
        --color-brand-second-400: var(--color-second-400);
        --color-brand-second-500: var(--color-second-500);
        --color-brand-second-600: var(--color-second-600);
        --color-brand-second-700: var(--color-second-700);
        --color-brand-second-800: var(--color-second-800);
        --color-brand-second-900: var(--color-second-900);
        --color-brand-second-950: var(--color-second-950);
      }
    </style>
  </head>
  <body
    class={cn(
      'font-display flex min-h-screen min-w-full flex-col',
      'from-brand-second-200 bg-gradient-to-t to-white to-20%',
      'selection:bg-brand-second-100 selection:underline selection:decoration-brand-second-400',
      isDev && 'debug-screens',
    )}
  >
    <Header />

    <!-- <Trains client:idle /> -->

    <main class="flex-1 px-6 pb-16">
      <slot />
    </main>

    <Footer />
    <Analytics />
  </body>
</html>
