---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { cn } from "../utils/cn";

interface Props {
  siteTitle?: string;
  bgColor?: string;
}

const { siteTitle, bgColor } = Astro.props;

const color = bgColor ?? "#fdba74";

const isDev = import.meta.env.DEV;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead
      title={`${siteTitle ? `${siteTitle} | ` : ""}Přestupní stanice`}
      description="Rodinné knižní nakladatelství"
    />
  </head>
  <body
    class={cn(
      "flex flex-col min-w-full font-display min-h-screen",
      isDev && "debug-screens",
    )}
    style={{
      background: `linear-gradient(180deg, transparent 60%, ${color}44 90%, ${color}99)`,
    }}
  >
    <Header color={color} />

    <!-- <Trains client:only /> -->

    <main class="pb-16 px-6 flex-1">
      <slot />
    </main>

    <Footer />

    <script></script>
  </body>
</html>
